<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>canvas画心电图vue版</title>
    <script src="data.js" type="text/javascript"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .time {
            display: inline-block;
            width: 50px;
        }

        .time_l {
            margin-left: 42px;
        }

        .box {
            background: #c1c1c1;
            width: 0;
            height: 0;
            position: absolute;
            opacity: 0.5;
            cursor: move;
            z-index: 99999;
            font-weight: 200;
        }

        #example {
            position: relative;
        }
        .measure{
            cursor: pointer;
        }
        .time_x{
            white-space:nowrap;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }

    </style>
</head>
<body>
<div id="example-3">
    <div style="height: 30px;">
        <select v-model="selectedX" @change="handChange">
            <option>1px/0.02ms</option>
            <option>1px/0.01ms</option>
            <option>1px/0.005ms</option>
        </select>
        <span>{{ selectedX }}</span>

        <select v-model="selectedY" @change="handChangeY">
            <option>1px/20uv</option>
            <option>1px/10uv</option>
        </select>
        <span>{{ selectedY }}</span>
        <span class="measure" @click.capture="handleMeasure">
            <span v-show="!measure">测量</span>
            <span v-show="measure">关闭</span>
        </span>

    </div>
    <div id="example"
         :style="{width:551*selected-51*(selected-1)+'px'}">
        <canvas id="ecg" :width=551*selected-51*(selected-1)+'px' :height=551+'px'
                @mousedown="myOnmousedown($event)"
                @mousemove="myOnmousemove($event)"
                @mouseup="myOnmouseup"
        ></canvas>
        <div class="time_x">
            <span v-for="(item,index) in timeList+1" class="time" :class="index==0?'time_l':''">{{index/timeList*10|numFilter}}s</span>
        </div>
    </div>
</div>
</body>
<script src="vue.js"></script>
<script src="jquery-1.11.3.js"></script>
<script>
    new Vue({
        el: '#example-3',
        data: {
            selectedX: '1px/0.02ms',
            selected: 1,
            timeList: 10,
            TotalTime: '',        //总时间
            XLength: '',           //x 轴长度
            interval: '',             //间隔
            standardPressure: '',     //标准电压
            selectedY: '1px/20uv',
            YHeight: 20,                // 高度动态变化
            arrs: [],                    // 所有的数据
            // canvasName: ['I', 'II', 'III'],                //图名字
            YNameHeight: 0,                   //基线高度动态变
            jointName: ['I', 'II', 'III', 'AVR', 'AVL', 'AVF', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6'],               //导联名称
            ////////////////////////////
            // startX, startY 为鼠标点击时初始坐标
            startX: '',
            startY: '',
            boxFlag: true,  //判断是否已创建box
            measure: false,  //是否开启 测量
        },
        mounted() {
            this.initCanvas();
        },
        filters: {
            numFilter(value) {
                // 截取当前数据到小数点后三位
                let transformVal = Number(value).toFixed(3);
                let realVal = transformVal.substring(0, transformVal.length - 1);
                // num.toFixed(3)获取的是字符串
                return Number(realVal)
            }
        },
        methods: {
            handChange() {
                this.arrs = [];
                if (this.selectedX == '1px/0.02ms') {
                    this.selected = 1;
                    this.timeList = 10;
                    this.remove();
                }
                if (this.selectedX == '1px/0.01ms') {
                    this.selected = 2;
                    this.timeList = 20;
                    this.remove();
                }
                if (this.selectedX == '1px/0.005ms') {
                    this.selected = 3;
                    this.timeList = 30;
                    this.remove();
                }
                setTimeout(() => {
                    this.initCanvas();
                });
            },
            handChangeY() {
                this.arrs = [];
                if (this.selectedY == '1px/20uv') {
                    this.YHeight = 20;
                    this.YNameHeight = 1;
                    this.remove();

                } else if (this.selectedY == '1px/10uv') {
                    this.YHeight = 10;
                    this.YNameHeight = 1;
                    this.remove();
                }
                setTimeout(() => {
                    this.initCanvas();
                });
            },
            //  初始化
            initCanvas() {
                var c_canvas = document.getElementById("ecg");
                this.drawLine(c_canvas,'1');  //目标元素 ，宽度
            },
            //小网格
            drawSmallGrid(c_canvas,color,width,distance) {
                if (c_canvas.getContext) {
                    var context = c_canvas.getContext("2d");
                    context.strokeStyle = color;
                    context.strokeWidth = width;
                    context.beginPath();            //新建一条路径，路径一旦创建成功，图形绘制命令被指向到路径上生成路径
                    for (var x = 0.5; x < this.XLength * this.selected; x += distance) {          //x轴
                        context.moveTo(x, 0);     //路径的起始坐标
                        context.lineTo(x, this.XLength);
                        context.stroke();   //线条来绘制图形轮廓
                    }
                    for (var y = 0.5; y < this.XLength; y += distance) {
                        context.moveTo(0, y);
                        context.lineTo(this.XLength * this.selected, y);
                        context.stroke();
                    }
                    context.closePath();   //闭合路径之后，图形绘制命令又重新指向到上下文中
                }
            },
            //中网格
            drawMediumGrid(c_canvas,color,width,distance) {
                var context = c_canvas.getContext("2d");
                context.strokeStyle = color;
                context.strokeWidth = width;
                context.beginPath();
                for (var x = 0.5; x < this.XLength * this.selected; x += distance) {
                    context.moveTo(x, 0);
                    context.lineTo(x, this.XLength);
                    context.stroke();
                }
                for (var y = 0.5; y < this.XLength; y += distance) {
                    context.moveTo(0, y);
                    context.lineTo(this.XLength * this.selected, y);
                    context.stroke();
                }
                context.closePath();
            },
            //大网格
            drawBigGrid(c_canvas,color,width,distance) {
                var context = c_canvas.getContext("2d");
                context.strokeStyle = color;
                context.strokeWidth = width;
                context.beginPath();
                for (var x = 0.5; x < this.XLength * this.selected; x += distance) {
                    context.moveTo(x, 0);
                    context.lineTo(x, this.XLength);
                    context.stroke();
                }
                for (var y = 0.5; y < this.XLength; y += distance) {
                    context.moveTo(0, y);
                    context.lineTo(this.XLength * this.selected, y);
                    context.stroke();
                }
                context.closePath();
            },
            // 画网格
            drawingGrid(c_canvas) {
                this.drawSmallGrid(c_canvas,'#f1dedf','1',2);   //最小的网格  目标元素   宽度  每根线之间的距离
                this.drawMediumGrid(c_canvas,'#f0adaa','1',10);   //中等网格
                this.drawBigGrid(c_canvas,'#e0514b','1',50);  //大网格
            },
            //  初始化 心电图
            drawLine(c_canvas,width) {
                var ctx = c_canvas.getContext('2d');
                ctx.strokeWidth = width;
                ctx.clearRect(0, 0, c_canvas.width, c_canvas.height);   // 变化时清除原来的线
                this.paintingElectrocardiogram(ctx, c_canvas);
            },
            //     算心电图
            paintingElectrocardiogram(ctx, c_canvas) {
                this.arrs.push(arr);
                this.arrs.push(arr);
                this.arrs.push(arr2);
                this.TotalTime = parseInt(0.002 * arr.length);  //总时间
                if (this.TotalTime == 10 && arr.length >= 4995 || arr.length <= 5005) {   //10 秒 5001 个点    500导联   // if(1/0.002==500)
                    this.standardPressure = 4.88;                           //标准电压
                    this.XLength = this.TotalTime * 50 + 51;              //10秒基数为551
                    this.interval = 10;               // 10个点用1个点
                    this.drawingGrid(c_canvas);     //画网格
                    this.CalculationCanvas(ctx, "#000000");
                } else if (1 / 0.004 == 250) {             //250  导联
                    this.XLength = this.TotalTime * 50 + 51;            //默认10秒 ，基数551
                    this.interval = 5;               // 5个点用1个点
                    this.drawingGrid(c_canvas);
                    this.CalculationCanvas(ctx, "#000000");
                } else if (1 / 0.008 == 125) {            //125 导联
                    this.XLength = this.TotalTime * 50 + 51;            //默认10秒 ，基数551
                    this.interval = 1;               //   this.interval=2.5;     2.5个点用1个点   先取两个中一个  再取后三个中一个
                    this.drawingGrid(c_canvas);
                    ctx.beginPath();
                    for (var x = 50, i = 1; x < this.XLength * this.selected; x++, i++) {
                        if (i % 2 == 0) {
                            ctx.lineTo(x, -arr[Math.round((x - 49 + 2) * this.interval / this.selected)] * this.standardPressure / this.YHeight + ((i + 1) * 100))
                        } else {
                            ctx.lineTo(x, -arr[Math.round((x - 49 + 3) * this.interval / this.selected)] * this.standardPressure / this.YHeight + ((i + 1) * 100))
                        }
                    }
                }
            },
            //  计算导联图
            CalculationCanvas(ctx,color) {
                ctx.strokeStyle = color;
                for (let i = 0; i < this.arrs.length; i++) {
                    this.canvasTitle(ctx, i);
                    ctx.beginPath();
                    for (var x = 50; x < this.XLength * this.selected; x++) {
                        ctx.lineTo(x, -this.arrs[i][Math.round((x - 49) * this.interval / this.selected)] * this.standardPressure / this.YHeight + ((i + 1) * 100));
                    }
                    ctx.stroke();
                    ctx.closePath();
                }
            },
            //    基线
            canvasTitle(ctx, i) {
                ctx.beginPath();
                //  根据i 和 y轴坐标的关系，得到以下关系  (（i+1）*2-1)*50
                ctx.moveTo(0, 50 + ((i + 1) * 2 - 1) * 50);
                ctx.lineTo(10, 50 + ((i + 1) * 2 - 1) * 50);
                if (this.selectedY == '1px/10uv') {
                    ctx.lineTo(10, ((i + 1) * 2 - 1) * 50 - 50);
                    ctx.lineTo(30, ((i + 1) * 2 - 1) * 50 - 50);
                } else if (this.selectedY == '1px/20uv') {
                    ctx.lineTo(10, ((i + 1) * 2 - 1) * 50);
                    ctx.lineTo(30, ((i + 1) * 2 - 1) * 50);
                }
                ctx.lineTo(30, 50 + ((i + 1) * 2 - 1) * 50);
                ctx.lineTo(40, 50 + ((i + 1) * 2 - 1) * 50);
                ctx.stroke();
                ctx.closePath();
                ctx.font = "20px Courier New";
                ctx.strokeText(this.jointName[i], 35, ((i + 1) * 2 - 1) * 50 + 30);
            },
            ////////////////////////////////////////////////
            //  鼠标按下
            myOnmousedown(e) {
                e = e || window.event;
                this.startX = e.pageX;
                this.startY = e.pageY;
                this.boxFlag = true;
                this.remove();
                // 判断是否已有box
                if (this.boxFlag) {
                    // 在页面创建 box
                    var active_box = document.createElement("div");
                    active_box.id = "active_box";
                    active_box.className = "box";
                    active_box.style.top = this.startY - 30 + 'px';       //注意此处减30 因为获取的高度为相对浏览器的高度，所以要减去上面高度
                    active_box.style.left = this.startX + 'px';
                    document.getElementById('example').appendChild(active_box);
                    active_box = null;
                    // 创建标尺
                    var ruler = document.createElement("div");
                    ruler.id = 'ruler';
                    ruler.style.position = 'absolute';
                    ruler.style.bottom = -46 + 'px';
                    ruler.style.left = 0 + 'px';
                    ruler.style.fontWeight = 1000;
                    let box = document.getElementsByClassName("box")[0];
                    box.appendChild(ruler);
                    this.boxFlag = false;
                }
                //     鼠标移动
                /* document.onmousemove = (e) => {
                     e = e || window.event;
                     let active_box = document.getElementById("active_box");
                     if (document.getElementById("active_box") !== null) {
                         var ab = document.getElementById("active_box");
                         ab.style.width = e.pageX - this.startX + 'px';
                         ab.style.height = e.pageY - this.startY + 'px';
                         //计算 标尺
                         console.log(this.selectedX);
                         let time_x = parseFloat(this.selectedX.split('px/')[1]);
                         let time_y = parseFloat(this.selectedY.split('px/')[1]);
                         let ruler_x = ab.style.width.split('px')[0] * time_x;
                         let ruler_y = ab.style.height.split('px')[0] * time_y;
                         document.getElementById('ruler').innerHTML = ruler_x.toFixed(2) + 's,' + ruler_y.toFixed(2) + 'uv '
                     }
                 };*/
            },
            handleMeasure(){
                this.measure=!this.measure;
            },
            //     鼠标移动
            myOnmousemove(e) {
                if (this.measure) {
                    e = e || window.event;
                    let active_box = document.getElementById("active_box");
                    if (document.getElementById("active_box") !== null) {
                        var ab = document.getElementById("active_box");
                        ab.style.width = e.pageX - this.startX + 'px';
                        ab.style.height = e.pageY - this.startY + 'px';
                        //计算 标尺
                        console.log(this.selectedX);
                        let time_x = parseFloat(this.selectedX.split('px/')[1]);
                        let time_y = parseFloat(this.selectedY.split('px/')[1]);
                        let ruler_x = ab.style.width.split('px')[0] * time_x;
                        let ruler_y = ab.style.height.split('px')[0] * time_y;
                        document.getElementById('ruler').innerHTML = ruler_x.toFixed(2) + 's' +'<div>'+ ruler_y.toFixed(2) + 'uv '+'</div>'
                    }
                }
            },
            //     鼠标抬起
            myOnmouseup() {
                // 禁止拖动
                // this.dragging = false;
                if (document.getElementById("active_box") !== null) {
                    var ab = document.getElementById("active_box");
                    ab.removeAttribute("id");
                    if (ab.offsetWidth < 3 || ab.offsetHeight < 3) {
                        document.getElementById('example').removeChild(ab);
                    }
                }
            },
            //    删除元素
            remove() {
                $('.box').remove();
                this.boxFlag = true;
            }
        }
    })
</script>
</html>